@import url("https://fonts.cdnfonts.com/css/hack");

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Hack", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #040615;
  color: rgb(243, 247, 214);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  /* margin-block: 10px; */
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2b005c;
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:active {
  background: #34006e;
}
